body {
    margin: 0;

    background-color: var(--main);
    color: var(--text-clr);    

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: var(--fs1);
}

header {
    margin-top: var(--m1);
    text-align: center;
}