body {
    margin: 0;

    background-color: var(--main);
    color: var(--text-clr);    

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: var(--fs1);
}

header {
    margin-top: var(--m1);
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;

    padding: var(--p3);
}

button {
    z-index: 999;
    cursor: pointer;
}

#generate {
    width: 10rem;
    height: 2.3rem;

    color: white;
    font-weight: bold;
    font-size: var(--fs1);

    border-radius: var(--br1);
    border: 0;

    background-color: var(--accent);
    
    align-self: center;

    transition: background-color 0.2s ease;
}

.inactive-btn#generate {
    cursor: default;
    background-color: transparent;
    color: var(--accent);
    border: var(--b1) solid var(--accent);
}

:not(.inactive-btn)#generate:hover, :not(.inactive-btn)#generate:focus { background-image: var(--hover)}
:not(.inactive-btn)#generate:active {
    background-image: var(--click);
    scale: 0.95;
}

.text-fields {
    display: grid;

    grid-template-columns: 1fr 1fr;

    padding: var(--p1) var(--p1) var(--p1) var(--p1);
    gap: var(--p1);
}

textarea {
    flex-grow: 1;
    min-height: 15rem;

    background-color: var(--main);

    padding: var(--p2);
    border: 0;
    border-radius: 0 0 var(--br1) var(--br1);

    resize: vertical;
}

#input-box-props { height: 25rem; }
#input-box-targets { height: 20rem; }

textarea:focus { outline: 0; }

.textbox-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    
    background-color: var(--border-clr);
    border: var(--b1) solid var(--border-clr);
    border-radius: var(--br1);
}

.textbox-toolbar {
    height: 2.5rem;
    padding: 0 var(--p2) 0 var(--p2);
    display: grid;
    place-items: center;
}

.icon {
    background-color: transparent;
    padding: var(--p2);
    border: none;
}

.icon:hover, .icon:focus {
    background-image: var(--hover) }

.icon:active { background-image: var(--click); }
.icon:active .icon-img { scale: 0.9; }

.icon-img {
    height: 1.3rem;
    filter: var(--icon-clr);
}

#download-btn svg {
    height: 1.3rem;
    width: auto;
}

:not(.inactive)#download-btn:active svg { scale: 0.9; }

#download-btn svg path {
    fill: var(--accent);
    stroke: var(--accent);
    transition: fill 0.2s ease, stroke 0.2s ease;
}

.inactive#download-btn svg path {
    fill: var(--inactive);
    stroke: var(--inactive);
}

hr {
    width: auto;
    margin: var(--m1) 0 var(--m1) 0;
    border-color: transparent;
}

code {
    background-color: var(--border-clr);
    padding: 0 var(--p2) 0 var(--p2);
}

ol {
    gap: var(--p1);
    padding: 0 0 0 var(--p3);
    margin: 0;

    display: flex;
    flex-direction: column;

    list-style: decimal;
}

@media screen and (max-width: 600px) {
    .text-fields {
        padding: var(--p2) 0 var(--p2) 0;
        grid-template-columns: 1fr;
    }

    #output-box { height: 25rem; }
    #input-box-props { height: 25rem; }
    #input-box-targets { height: 20rem; }
}